<%= render "shared/header" %>

<div class="index-main">  
  <div class="couple"> 
    <div class="catch_copy">結婚式に来てくれる人は、 <br>あなたの人生を支えてくれる人です。</div>
    <%= link_to image_tag("couple.png", class:"couple-image", id: "coupleImage"), "#" %>
  </div> 

  <div class="curtain">
    <div class="top-curtain"></div>
    <div class="bottom-curtain"></div>
  </div>

  <div id="sakura_block">
    <div class="sakura_parts_box">
      <%= link_to image_tag("parts_01.png", class:"parts_01")%>
      <%= link_to image_tag("parts_02.png", class:"parts_02")%>
      <%= link_to image_tag("parts_03.png", class:"parts_03")%>
      <%= link_to image_tag("parts_04.png", class:"parts_04")%>
      <%= link_to image_tag("parts_05.png", class:"parts_05")%>
      <%= link_to image_tag("parts_06.png", class:"parts_06")%>
      <%= link_to image_tag("parts_07.png", class:"parts_07")%>
      <%= link_to image_tag("parts_01.png", class:"parts_08")%>
      <%= link_to image_tag("parts_02.png", class:"parts_09")%>
      <%= link_to image_tag("parts_03.png", class:"parts_10")%>
      <%= link_to image_tag("parts_04.png", class:"parts_11")%>
      <%= link_to image_tag("parts_05.png", class:"parts_12")%>
      <%= link_to image_tag("parts_06.png", class:"parts_13")%>
      <%= link_to image_tag("parts_07.png", class:"parts_14")%>
      <%= link_to image_tag("parts_01.png", class:"parts_15")%>
      <%= link_to image_tag("parts_02.png", class:"parts_16")%>
      <%= link_to image_tag("parts_03.png", class:"parts_17")%>
      <%= link_to image_tag("parts_04.png", class:"parts_18")%>
      <%= link_to image_tag("parts_05.png", class:"parts_19")%>
    </div>
  </div>
</div>
