<%= render partial: "shared/header" %>

<div class="seating-main">
  <%= render partial: "shared/top_paragraph" %>

  <%= form_with(model: @seating_guest, url: seatings_path, method: :post, local: true) do |f| %>

  <%# 1列目 %>
  <div class="paragraph">
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name1, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name2, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name3, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">A</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name4, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name5, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name6, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name7, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name8, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name9, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">B</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name10, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name11, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name12, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name13, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name14, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name15, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">C</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name16, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name17, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name18, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
  </div>


  <%# 2列目 %>
  <div class="paragraph">
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name19, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name20, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name21, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">D</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name22, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name23, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name24, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name25, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name26, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name27, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">E</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name28, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name29, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name30, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
  </div>

  <%# 3列目 %>
  <div class="paragraph">
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name31, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name32, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name33, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">F</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name34, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name35, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name36, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>

    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name37, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name38, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name39, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">G</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name40, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name41, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name42, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
    
    <div class="block-container">
      <div class ="name-containerLeft">
        <%= f.text_area :name43, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name44, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name45, class: "name-input",placeholder: "Guest Name" %>
      </div>
        <div class=square>
          <div class="square-num">H</div>
        </div>
      <div class ="name-containerRight">
        <%= f.text_area :name46, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name47, class: "name-input",placeholder: "Guest Name" %>
        <%= f.text_area :name48, class: "name-input",placeholder: "Guest Name" %>
      </div>
    </div>
  </div>

  <%# 保存ボタン %>
  <div class="bottom-paragraph">
    <%= f.hidden_field :pattern, value: @pattern %>
    <div class= "save__botton" >
      <%= image_submit_tag("save.png", class: 'form__btn') %>
    </div>
  </div>
  <% end %>
</div>