<%= render partial: "shared/header" %>

<div class="seating-main">
  <%= render partial: "shared/top_paragraph" %>
  
  
  <%= form_with(model: @seating_guest, url: seatings_path, method: :post, local: true) do |f| %>
  <%# 1列目 %>
  <div class="paragraph">
    <%= f.hidden_field :table_code, value: 'A' %>

    <div class="block-container">
      <div class="name-containerLeft">
        <% (1..3).each do |position| %>
          <%= f.text_field "guest_A_#{position}".to_sym, class: 'name-input', placeholder: "Guest #{position}" %>
        <% end %>
      </div>
      <div class="square">
        <div class="square-num">A</div>
      </div>
      <div class="name-containerRight">
        <% (4..6).each do |position| %>
          <%= f.text_field "guest_A_#{position}".to_sym, class: 'name-input', placeholder: "Guest #{position}" %>
        <% end %>
      </div>
    </div>


    <%= f.hidden_field :table_code, value: 'B' %>
    <div class="block-container">
      <div class="name-containerLeft">
        <% (1..3).each do |position| %>
          <%= f.text_field "guest_B_#{position}".to_sym, class: 'name-input', placeholder: "Guest #{position}" %>
        <% end %>
      </div>
      <div class="square">
        <div class="square-num">B</div>
      </div>
      <div class="name-containerRight">
        <% (4..6).each do |position| %>
          <%= f.text_field "guest_B_#{position}".to_sym, class: 'name-input', placeholder: "Guest #{position}" %>
        <% end %>
      </div>
    </div>

    <%= f.hidden_field :table_code, value: 'C' %>
    <div class="block-container">
      <div class="name-containerLeft">
        <% (1..3).each do |position| %>
          <%= f.text_field "guest_C_#{position}".to_sym, class: 'name-input', placeholder: "Guest #{position}" %>
        <% end %>
      </div>
      <div class="square">
        <div class="square-num">C</div>
      </div>
      <div class="name-containerRight">
        <% (4..6).each do |position| %>
          <%= f.text_field "guest_C_#{position}".to_sym, class: 'name-input', placeholder: "Guest #{position}" %>
        <% end %>
      </div>
    </div>


    <!-- 他の列も同様に繰り返し記述 -->

    <div class="actions">
      <%= f.hidden_field :pattern, value: @pattern %>
      <%= f.submit "SAVE", class: 'form__btn' %>
    </div>
  </div>
<% end %>
