<%= render partial: "shared/header" %>

<div class="select-main">
  <div class="video-container">
    <video width="640" height="360" autoplay muted loop class="marriage-video" id="myVideo">
    <source src="/video/marriage.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>

  <script>
    document.getElementById("myVideo").playbackRate = 0.7;
  </script>
  
  <div class="select-inner">
    <%= link_to image_tag("which.png", class: "which-image") %>
    <div class="select-image">
      <% seating_options = { 'A' => 48, 'B' => 60, 'C' => 72 } %>
      <% seating_options.each do |pattern, max_guest| %>
        <%= link_to new_seating_path(pattern: pattern), class: "seat-link" do %>
          <%= image_tag("seat#{pattern}.png", class: "seat-image") %>
          <div class="select-text">Max Guest <%= max_guest %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>  