<div class="sign-main">
  <div class="sign-inner">
      <h1 class="page-heading">SIGN UP</h1>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

      <div class="form__wrapper">
        <div class="field">
          <%= f.text_field :bride, class: "sign-input", id:"bride", placeholder:"Bride" %>
        </div>

        <div class="field">
          <%= f.text_field :groom, class: "sign-input", id:"groom", placeholder:"Groom"%>
        </div>
        
        <div class="field">
          <%= f.email_field :email, class: "sign-input", id:"user_email", autofocus: true, autocomplete: "email", placeholder:"EMAIL" %>
        </div>

        <div class="field">
          <%= f.password_field :password, class: "sign-input", id:"user_password", autocomplete: "new-password",placeholder:"PASSWORD（6 or more）"%>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, class: "sign-input", id:"user_password_confirmation", autocomplete: "new-password",placeholder:"PASSWORD（Re type）" %>
        </div>

        <div class="actions">
          <%= f.submit "SAVE", class: :sign__btn  %>
        </div>
      </div>
      
      <% end %>
  </div>
</div>
