<div class="sign-main">
  <div class="sign-inner">
      <h1 class="page-heading">SIGN IN</h1>
       
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="field">
          <%= f.email_field :email, class: "sign-input", id:"user_email", autofocus: true, autocomplete: "email", placeholder:"EMAIL" %>
        </div>

        <div class="field">
          <%= f.password_field :password, class: "sign-input", id:"user_password", autocomplete: "new-password",placeholder:"PASSWORD（6 or more）"%>
        </div>

        <div class="actions">
          <%= f.submit "SAVE", class: :sign__btn  %>
        </div>
      </div>
      <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>